<div id="WindImageControll" class="carousel slide wind" data-ride="carousel" data-interval='false'>

  <div class="carousel-inner">
    <% @names.wind.each_with_index do |name, i| %>
    <div class="carousel-item <%= add_class(i) %>" carousel-number="<%= @names.wind[i] %>" id="<%= i %>">
      <%= image_tag("winds/" + name + ".jpg") %>
    </div>
    <%end%>
  </div>

  <a class="carousel-control-prev wind-button" href="#WindImageControll" role="button" data-slide="prev" data-targets="wind">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next wind-button" href="#WindImageControll" role="button" data-slide="next" data-targets="wind">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  
</div>