// Place all the styles related to the weatherInfo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-brand img {
  width: 45px;
  line-height: 35px;
}
.navbar-brand strong {
  font-size: 30px;
  padding-left: 3px;
  line-height: 35px;
}
.navbar-brand {
  padding: 0px;
}

.contents {
  padding: 20px 20px;
}

img {
  width: 100%;
}

// timeの時間表示
.year-text {
  font-size: 50px;
  letter-spacing: 10px;
  margin: auto;
}

.date-text {
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 10px;
  margin: auto;
}

.time-text {
  font-size: 50px;
  letter-spacing: 10px;
  margin: auto;
}

.date {
  text-align: center;
  font-size: 23px;
  letter-spacing: 5px;
}

// 横スクロール
.nav-pills {
  overflow-x: auto;
  flex-wrap: nowrap;
  white-space: nowrap;
}

//  時間コントロールの表示非表示
.dr-selecter {
  display: none;
}

.hide {
  display: none;
}

@media screen and (max-width: 768px) {
  /*　画面サイズが767px以下の場合読み込む　*/

  //  時間コントロールの表示非表示
  .dr-selecter {
    display: flex;
  }
  .botton-selecter {
    display: none;
  }

  .nav-container {
    min-width: 100%;
  }
  .navbar-brand img {
    width: 27px;
  }
  .navbar-brand strong {
    font-size: 23px;
  }
  .year-text {
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 2px;
    display: inline-block;
  }

  .date-text {
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 2px;
    display: inline-block;
  }

  .time-text {
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 5px;
    margin: auto;
    display: inline-block;
  }
  .time-text p {
    margin: 0;
    padding: 0;
  }
  .date {
    letter-spacing: 1px;
    font-size: 100%;
    padding: 8px 2px;
  }
}

.wavetext {
  margin: 5px 0 0 0;
}

.windtext {
  margin: 5px 0 0 0px;
  padding-bottom: 9px;
}
